html {
  background-color: cadetblue;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  text-align: center;
  width: 800px;
  background-color: white;
}